<%- include("header") -%>

<h2>This is the about page</h2>

<p>This is a list website where different users can add their to-do items and can delete them after they have done that.</p>

<%- include("footer") -%>
