<%- include("header") -%>
<div class="box">
<h2 >This is the about page</h2>

<p>This is a list website where different users can add their to-do items and can delete them after they have done that.</p>
<p>There is a dropdown menu to see all the users and an add option to register new user.</p>
</div>

<div class="aaa">
<form action="/" class="inline">
    <button>Go Home</button>
</form>
</div>
<div class="item"></div>

<%- include("footer") -%>
